NUXT_PUBLIC_ANALYTICS_BASE_URL=https://analytics.siphersauna.com
NUXT_PUBLIC_ANALYTICS_SITE_ID=siphersauna.com
NUXT_PUBLIC_ANALYTICS_TOKEN=
# NUXT_PUBLIC_ANALYTICS_DISABLED=true
# NUXT_PUBLIC_ANALYTICS_SESSION_ONLY_USER=true
